	<footer class="yellow box">
		<div class="container_12" id="footer-wrapper">
			<div id="footer-logo"><%= image_tag("logo-white.png") %></div>
			
			<div id="footer-content">
			 <ul>
			   <li><h2><a href="https://www.facebook.com/BostonVolunteers" target="_blank">facebook</a> | <a href="http://www.meetup.com/The-Boston-Volunteer-Meetup-Who-else-likes-to-help-others/" target="_blank">meetup</a> | <a href="https://twitter.com/#!/BostonVolunteer" target="_blank">twitter</a></h2></li>
			   
			   <li><%= link_to 'Contact us', (about_path + '#contact') %></li>
			   <li><%= link_to 'About the Boston Volunteers', (about_path + '#about') %></li>
			   <li><%= link_to 'All past events', 'http://www.bostonvolunteer.org/events/past/' %></li>
			   <li><%= link_to 'About this website', '#' %></li>
			 </ul>
			</div>
		</div>
		
		<div class="clearfix"></div>
	</footer>




  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <!--   <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script> -->


  <!-- scripts concatenated and minified via ant build script-->
  <!-- end scripts-->

	
  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
